html {
    scroll-behavior: smooth;
    background-color: rgb(0, 0, 0);
    background-size: auto;
}
.body {
  font-family: "Lato", sans-serif;
}

.parallax {
    /* The image used */
    background-image: url("https://w.wallhaven.cc/full/83/wallhaven-83ddr1.jpg");
  
    /* Set a specific height */
    min-height: 700px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .centered {
    position: absolute;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: aliceblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .isian {
    position: absolute;
    font-size: 40px;
    font-family: sans-serif;
    font-style: italic;
    color: aliceblue;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
  

  .parallax2 {
    background-image: url("https://w.wallhaven.cc/full/k7/wallhaven-k79xwd.jpg");
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mid {
    height: 400px;
    background-color: rgb(0, 0, 0);
    font-size: 26px;
    color: aqua;
    
  }

  
  

 